# Python
__pycache__/
*.py[cod]
venv/
.env
*.bak*
RESTful_API/*log*/
*.log
*.json

# 大型資料
00XXX範本/
0050/
0051/
0056/
00713/
00878/
00900/
00918/
00919_Dec/
00919_May/
00929/
00940/
back_up/
statistics/

# 系統
.DS_Store
